.shake-animation {
    animation: shakeAnimation 0.5s infinite;
}

@keyframes shakeAnimation {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}